<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shelter.name %>
</p>

<p>Total de animales en refugio: <%= @shelter.animals.count %></p>

<p>Animales sanos:  <%= @shelter.animals.healthy.count %></p>

<p>Animales enfermos: <%= @shelter.animals.ill.count %></p>

<p>Animales enfermos grave:  <%= @shelter.animals.critical_ill.count %></p>

<p>Total animales adoptados: <%= @shelter.animals.adopted.count %></p>

<%= link_to 'Animales del refugio', shelter_animals_path(@shelter) %>

<%= link_to 'Veterinarios a cargo', shelter_veterinaries_path(@shelter) %>

<p>ver usuarios voluntarios</p>










<div>
    <p>Shelter animals personalities</p>
    <%= pie_chart @shelter.animals.group(:personality).count %>

</div>

<div>
   <p>Shelter animals conditions</p>
   <%= pie_chart @shelter.animals.group(:condition).count %>

</div>

<div>
   <%= line_chart @shelter.animals.group_by_day(:created_at).count %>
</div>

<%= link_to 'Edit', edit_shelter_path(@shelter) %> |
<%= link_to 'Back', shelters_path %>
