<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Entry at:</strong>
  <%= @animal.entry_at %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @animal.condition %>
</p>

<p>
  <strong>Personality:</strong>
  <%= @animal.personality %>
</p>

<p>
  <strong>Age:</strong>
  <%= @animal.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @animal.sex %>
</p>

<p>
  <strong>Color:</strong>
  <%= @animal.color %>
</p>

<p>
  <strong>Chip:</strong>
  <%= @animal.chip %>
</p>

<p>
  <strong>Hosted in:</strong>
  <%= @animal.hosted_in %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @animal.observations %>
</p>

<p>
  <strong>Shelter:</strong>
  <%= @animal.shelter.name %>
</p>

<p>
  <strong>Rescued from:</strong>
  <%= @animal.rescued_from.address %>, <%= @animal.rescued_from.location.county %>
</p>

<% if @animal.adopter %>

<p>
  <strong>Adopter:</strong>
  <%= @animal.adopter.name %>, ID: <%= @animal.adopter_id %>  <%= link_to 'Ver adoptante', adopter_path(@animal.adopter_id) %>
</p>
<% else %>

 <p>
   <strong>Adopter: </strong>
   <%= link_to 'Dar en adopcion', new_animal_adopter_path(@animal), remote: true %>
 </p>

<% end %>