<p id="notice"><%= notice %></p>

<h1>Animals</h1>

<%= link_to 'New Animal', new_shelter_animal_path, remote: true %>

<div id='animal_form_div'>
</div>

<div>
   <%= search_form_for @q, url: shelter_animals_path(@shelter) do |f| %>
    <div>
      <%= f.label :name_or_id_cont %>
      <%= f.search_field :name_or_id_cont %>
      
    </div>  

    <div class="form-group">
      <%= f.label :personality_eq, "Personality" %>
      <%= f.select :personality_eq, options_for_select(Animal.personalities ,@q.personality_eq), {},{class: "form-control"} %>
</div>

<%= f.submit %>
   <% end %>
</div>



<table id='animals'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Id</th>
      <th>Entry at</th>
      <th>Condition</th>
      <th>Personality</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Color</th>
      <th>Chip</th>
      <th>Hosted in</th>
      <th>Observations</th>
      <th>Shelter</th>
      <th>Rescued from</th>
      <th>Adopter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
    <% @animals.each do |animal| %>
      <%= render 'animal', animal: animal %>
    <% end %>
   
  </tbody>
</table>

<br>


