<%= form_with(model:[@animal, adopter], local: false) do |form| %>
  <% if adopter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(adopter.errors.count, "error") %> prohibited this adopter from being saved:</h2>

      <ul>
        <% adopter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :dni %>
    <%= form.text_field :dni %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :social_net %>
    <%= form.text_field :social_net %>
  </div>

  
  <div class="field">
    <%= form.label :observations %>
    <%= form.text_area :observations %>
  </div>

  

  <div class="actions">
    <%= form.submit data: { disable_with: 'Creating adopter'} %>
  </div>
<% end %>