<p>
  <strong>Name:</strong>
  <%= @adopter.name %>
</p>

<p>
  <strong>DNI:</strong>
  <%= @adopter.dni %>
</p>

<p>
  <strong>Address:</strong>
  <%= @adopter.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @adopter.phone %>
</p>

<p>
  <strong>Social network:</strong>
  <%= @adopter.social_net %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @adopter.observations %>
</p>






