<%= form_with(model: suffereded_disease) do |form| %>
  <% if suffereded_disease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(suffereded_disease.errors.count, "error") %> prohibited this suffereded_disease from being saved:</h2>

      <ul>
        <% suffereded_disease.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :started_at %>
    <%= form.date_select :started_at %>
  </div>

  <div class="field">
    <%= form.label :discharged %>
    <%= form.check_box :discharged %>
  </div>

  <div class="field">
    <%= form.label :disease_id %>
    <%= form.text_field :disease_id %>
  </div>

  <div class="field">
    <%= form.label :medical_history_id %>
    <%= form.text_field :medical_history_id %>
  </div>

  <div class="field">
    <%= form.label :veterinary_id %>
    <%= form.text_field :veterinary_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
